@model crudcore.Model.Book
@{
    Layout = "_Layout";
}



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

    <h4>Book</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit"
                  data-ajax="true"
                  enctype="multipart/form-data"
                  data-ajax-method="POST"
                  data-ajax-success="OnSuccessFE"
                  data-ajax-failure="OnFailureFE"
                  data-ajax-begin="OnBeginFE"
                  data-ajax-complete="OnCompleteFE">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="BookID" />
                <div class="form-group">
                    <label asp-for="BookName" class="control-label"></label>
                    <input asp-for="BookName" class="form-control" />
                    <span asp-validation-for="BookName" class="text-danger"></span>
                </div>
                <div class="form-group">

                    <img src="~/uploads/@Model.ImagePath" width="50" height="50" />

                    <input type="file" id="Image" name="Image" class="form-control" />

                </div>
                <div class="form-group">
                    <label asp-for="PublishDate" class="control-label"></label>
                    <input asp-for="PublishDate" class="form-control" />
                    <span asp-validation-for="PublishDate" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="availability" /> @Html.DisplayNameFor(model => model.availability)
                    </label>
                </div>
                <div class="form-group">
                    <label asp-for="PublicationID_FK" class="control-label"></label>
                    <select asp-for="PublicationID_FK" class="form-control" asp-items="ViewBag.PublicationID_FK"></select>
                    <span asp-validation-for="PublicationID_FK" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>


    <script>


        function OnSuccessFE(response) {
            alert("OnSuccess");
        }
        function OnFailureFE(response) {
            alert("OnFailure");
        }

        function OnBeginFE() {
            alert("OnBegin");
        }

        function OnCompleteFE() {
            alert("OnComplete");
        }


    </script>


</body>
</html> 